* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #2274A5, #50e3c2);
  height: 100vh;
}

img {
  width: 100%;
}

.logo {
  min-width: 100px;
  max-width: 150px;
  margin-top: 10vh;
}

.header {
  color: #e8fbf7;
  font-family: "Raleway", sans-serif;
}

.header h1 {
  font-size: 80px;
}

.header h3 {
  font-size: 40px;
}

.header h3 span {
  color: #95edda;
}

#sign-in {
  margin: 50px;
}

#sign-in button {
  width: 100%;
  max-width: 160px;
  padding: 10px;
  border: 2px solid #e8fbf7;
  background-color: transparent;
  color: #e8fbf7;
  margin-top: 10px;
}

#sign-in button:hover {
  background-color: rgba(232, 251, 247, 0.3);
}

#sign-in .btn-sign-up {
  border: 2px solid #50e3c2;
}

#sign-in .btn-sign-up:hover {
  background-color: rgba(79, 227, 194, 0.3);
}
