//////////////////////
// Variables
//////////////////////

// Colors
$teal:              #50e3c2;
$teal_trans:        rgba(79, 227, 194, 0.3);
$blue:              #2274A5;
$blue_trans:        rgba(34, 116, 164, 0.5);
$pop:               #E4572E;
$white:             #e8fbf7;
$white_trans:       rgba(232, 251, 247, 0.3);
$gray:              #5b5b5b;
$black:             #0c0e0e;

// Fonts
$bodyFont:          'Roboto', sans-serif;
$headerFont:        'Raleway', sans-serif;

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: $bodyFont;
  background-color: $white;
}

img {
  width: 100%;
}

header {
  background: linear-gradient(45deg, $teal, $blue);
  text-align: center;
}

.logo {
  width: 40px;
  margin: 10px;
}
